/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
}

body {
  margin:100px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  background:#f9f4ef;
  color:#020826;
}

#logo img{
  max-width: 640px;
}

#description{
  margin: 80px 0;
  max-width: 640px;
  font-weight: 700;
  line-height: 1.7;
  font-feature-settings: "palt";
}

#links{

}

#links a{
  font-weight: 700;
}